rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: This configuration allows anyone with your database reference to read or write to your database.
    // Use this ONLY for development. Before launching your app, you MUST harden these rules.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
